.loader-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
}

.outer {
    align-self: center;
}

.loading-text {
    color: white;
    padding-top: 24px;
    font-family: "Open Sans";
    font-size: 18px;
}